.navBar {
  width: 100%;
  height: 0;
  background-color: transparent;
  transition: all 0.3s linear;
  position: absolute;
  z-index: 10;
}

.navBarActivDay {
  width: 100%;
  height: 50px;
  background-color: rgba(23, 35, 38, 0.6);
  transition: all 0.3s linear;
  position: absolute;
  z-index: 10;
}

.navBarActivNight {
  width: 100%;
  height: 50px;
  background-color: rgba(7, 7, 16, 0.7);
  transition: all 0.3s linear;
  position: absolute;
  z-index: 10;
}

.navBar .navBar__box {
  display: none;
}

.navBarActiv .navBar__box {
  display: block;
}

.navBar__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 783px) {
  .navBarActivDay,
  .navBarActivNight {
    height: 100px;
  }
}

@media (max-width: 577px) {
  .navBarActivDay,
  .navBarActivNight {
    height: 240px;
  }
}