.form__blockDay {
  width: 100%;
  max-width: 550px;
  height: 710px;
  border: 2px solid rgb(65, 39, 24);
  border-radius: 10px;
  background-color: hsla(36, 65%, 63%, 0.8);
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}

.form__blockNight {
  width: 100%;
  max-width: 550px;
  height: 710px;
  border: 2px solid #740183;
  border-radius: 10px;
  background-color: rgba(128, 70, 69, 0.8);
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}
