.linkStyle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgb(0 175 199);
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
}

.linkStyle:hover {
  color: rgb(3, 121, 142);
}

.linkStyle:active {
  color: rgb(81, 206, 227);
}

.block__inner {
  display: flex;
  align-items: center;
}