.character__blockItemDay {
  width: 224px;
  height: 350px;
  padding: 10px;
  background: linear-gradient(
    45deg,
    rgba(34, 105, 153, 0.8),
    rgba(109, 213, 250, 0.8),
    rgba(158, 255, 166, 0.8)
  );
  border-radius: 15px;
  background-size: 300% 300%;
  animation: gradient 6s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease 0.3s;
  box-shadow: inset 2px 2px 25px rgba(77, 241, 225, 0.5),
    0px 0px 20px 4px rgb(90 223 206);
  cursor: default;
  position: relative;
}

.character__blockItemNight {
  width: 224px;
  height: 350px;
  padding: 10px;
  background: linear-gradient(
    45deg,
    rgb(97 43 227 / 80%),
    rgb(42 113 141 / 80%),
    rgb(134 144 193 / 80%)
  );
  border-radius: 15px;
  background-size: 300% 300%;
  animation: gradient 6s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease 0.3s;
  box-shadow: inset 2px 2px 25px rgb(244 252 255 / 50%),
    0px 0px 20px 4px rgb(112 119 143);
  cursor: default;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.character__blockItemDay:hover {
  background-color: rgb(12, 118, 147);
  box-shadow: 0px 0px 10px 6px rgb(4, 124, 148);
}
.character__blockItemNight:hover {
  background-color: rgb(104, 128, 135);
  box-shadow: 0px 0px 10px 6px rgb(83, 173, 226);
}

.character__blockItemDay:active {
  background-color: rgb(5, 1, 93);
  box-shadow: none;
  transition: all ease 0.1s;
  border: 1px solid transparent;
}
.character__blockItemNight:active {
  background-color: rgb(11, 217, 220);
  box-shadow: none;
  transition: all ease 0.1s;
  border: 1px solid transparent;
}

.character__blockItemDay:active .character__titleName {
  color: rgb(12, 253, 225);
  transition: all linear 0.2s;
}
.character__blockItemNight:active .character__titleName {
  color: rgb(12, 253, 153);
  transition: all linear 0.2s;
}

.character__img {
  width: 210px;
  height: 210px;
  border-radius: 60px 15px 40px 25px;
  margin: 10px 0px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.character__blockItemDay h2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #0d1f62;
  padding-bottom: 5px;
  text-align: center;
}

.character__blockItemNight h2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #00e7ff;
  padding-bottom: 5px;
  text-align: center;
}
.character__title {
  font-size: 20px;
  font-weight: 600;
}

.character__textBlockDay .character__text {
  font-size: 22px;
  color: #1e0019;
}
.character__textBlockNight .character__text {
  font-size: 22px;
  color: #12e38c;
}

.character__textBlockDay span {
  color: #000f46;
}

.character__textBlockNight span {
  color: #11dfc2;
}

@media (max-width: 765px) {
  .character__blockItemDay,
  .character__blockItemNight {
    width: 300px;
    height: 390px;
  }

  .character__img {
    width: 230px;
    height: 230px;
  }

  .character__blockItemDay h2 {
    font-size: 30px;
  }

  .character__blockItemNight h2 {
    font-size: 30px;
  }

  .character__title {
    font-size: 30px;
  }

  .character__textBlockDay .character__text {
    font-size: 28px;
  }
  .character__textBlockNight .character__text {
    font-size: 28px;
  }
}

.character__svgBlockActive,
.character__svgBlock {
  width: 25px;
height: 25px;
position: absolute;
top: 5px;
left: 5px;
}

.character__svgBlockActive svg {
  fill: rgb(255, 255, 0);
  transition: all .4s linear;
  cursor: pointer;
}

.character__svgBlock svg {
  fill: rgb(255, 255, 255);
  transition: all .4s linear;
  cursor: pointer;
}

.character__svgBlockActive:hover svg,
.character__svgBlock:hover svg {
  transform: rotate3d(1, 1, 1, 360deg) scale(1.2);
}

.character__svgBlockActive:active svg,
.character__svgBlock:active svg {
  transform: scale(0.8);
  transition: all .1s linear;
}
