.inputBlockNight {
  position: relative;
}

.inputBlockNight svg {
  position: absolute;
  left: 10px;
  top: 7px;
  fill: rgb(126, 123, 68);
}

.inputBlockNight input::placeholder {
  color: rgb(126, 123, 68);
}

.inputBlockDay {
  position: relative;
}

.inputBlockDay svg {
  position: absolute;
  left: 10px;
  top: 7px;
  fill: rgb(107, 78, 61);
}

.inputBlockDay input::placeholder {
  color: rgb(107, 78, 61);
}
